<h3>FlagCommanderControlCenter</h3>
<div class="d-flex">
    <span>@StatusText</span>
    @if (flagEnabled)
    {
        <button class="btn btn-primary" @onclick="ToggleFlag">Disable</button>
    }
    else
    {
        <button class="btn btn-primary" @onclick="async() => await ToggleFlag()" >Enable</button>
    }
</div>
