@page
@using FlagCommanderUINet6.Components
@model FlagCommanderUINet6.Pages.FlagCommander.Index
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout= "_Layout";
}

<div class="container">
    <div class="d-flex justify-content-center align-items-center my-4">
        <h1>Flag Commander Control Center</h1>
    </div>
    <component type="typeof(ControlCenter)" render-mode="ServerPrerendered"/>
</div>
